<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Players</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <br>
  <div class="text-center">
    <form th:action="@{/mainPage}">
      <input type="submit" class="btn btn-primary" value="Show main page">
    </form>
  </div>
  <br>
  <div class="text-center">
    <form th:action="@{/players}">
      <input type="submit" class="btn btn-danger" value="Show players">
    </form>
  </div>
  <br>
  <div class="text-center">
    <form th:action="@{/heroes}">
      <input type="submit" class="btn btn-warning" value="Show heroes">
    </form>
  </div>
  <br>
  <div class="text-center">
    <form th:action="@{/players/create}" th:method="get">
      <button class="btn btn-success">Create player</button>
    </form>
  </div>
  <table class="table table-striped table-primary">
    <caption style="caption-side: top">Players</caption>
    <thead>
    <tr>
      <th>Id</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Birthday</th>
      <th>Quantity games</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="player : ${players}">
      <td th:text="${player.id}">
      </td>
      <td th:text="${player.firstName}">
      </td>
      <td th:text="${player.lastName}">
      </td>
      <td th:text="${player.birthdate}">
      </td>
      <td th:text="${player.quantityGames}">
      </td>
      <td>
        <form th:action="@{/players/{id}/update(id=${player.id})}">
          <input type="submit" class="btn btn-warning" value="Update">
        </form>
      </td>
      <td>
        <form th:action="@{/players/{id}/delete(id=${player.id})}" th:method="delete">
          <input type="submit" class="btn btn-danger" value="Delete">
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>